altair==5.4.0
annotated-types==0.7.0
anthropic==0.34.1
anyio==4.4.0
attrs==24.2.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
blinker==1.8.2
bracex==2.5
cachetools==5.5.0
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
distro==1.9.0
entrypoints==0.4
Faker==28.0.0
favicon==0.7.0
filelock==3.15.4
filetype==1.2.0
fonttools==4.53.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
htbuilder==0.6.2
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.6
idna==3.8
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
latexcodec==3.0.0
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
monty==2024.7.30
more-itertools==10.4.0
mpmath==1.3.0
mrcfile==1.5.3
narwhals==1.5.4
networkx==3.3
numpy==2.1.0
openai==1.42.0
packaging==24.1
palettable==3.3.3
pandas==2.2.2
pillow==10.4.0
plotly==5.23.0
prometheus_client==0.20.0
protobuf==5.27.3
pyarrow==17.0.0
pybtex==0.24.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
Pygments==2.18.0
pymatgen==2024.8.9
pymdown-extensions==10.9
pyparsing==3.1.3
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.20.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scipy==1.14.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
spglib==2.5.0
st-annotated-text==4.0.1
st-theme==1.2.3
streamlit==1.37.1
streamlit-ace==0.1.1
streamlit-antd==0.8.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-embeded==0.0.1
streamlit-extras==0.4.7
streamlit-faker==0.0.3
streamlit-file-browser==3.2.22
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-molstar==0.4.21
streamlit-monaco==0.1.3
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_push_notifications==0.1
sympy==1.13.2
tabulate==0.9.0
tenacity==8.5.0
tokenizers==0.20.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
uncertainties==3.2.2
urllib3==2.2.2
validators==0.33.0
wcmatch==9.0
